header
{
	vertical-align: middle;
	font-family: 'Lobster Two', cursive;
	display: inline block;
}

.image{
	vertical-align: middle;
	display: inline-block;
}

.header2{
	vertical-align: middle;
	display: inline-block;
}

.aside {
  width: 20%;
  background-color: #CAE1FF;
  padding: 20px;
  margin: 10px;
  border: 1px solid #9ED2FF;
  float: left;
  border-radius: 20px;
  height: 300px;
}

.content{
	height:auto;
	background-color: lightpink;
	margin:20px;
	border: 2px solid #000;
	padding: 30px 30px;
	border-radius: 20px;
}

.allpost{
	width: 70%;
	float: left;
}

p, nav{
	font-family: 'Dekko', cursive;
}

h2{
	font-family: 'Nunito', sans-serif;
}


}
nav :hover{
  color: #F5A623;
}
