header
{
	font-family: 'Lobster Two', cursive;
	margin-top:2%;
	margin-bottom:2%;
	float:right;
}
body{
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/80/71/7d/80717d0d05d0a3b050c63733c9f1bd48.jpg);
	background-repeat: no-repeat;
	background-position: right;
}
.header2{
	margin-left:45.5%
}

.content{
	height:auto;
	background-color: lightpink;
	margin:20px;
	border: 2px dashed #FF6699;
	padding: 10px 30px;
	border-radius: 20px;
}

.allpost{
	width: 60%;
	float: left;
}

p, nav{
	font-family: 'Dekko', cursive;
}

}
nav :hover{
  color: #F5A623;
}
}

h4{
	font-family: 'Ubuntu', sans-serif;
}
h2{
	font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 800px) and (max-width: 1000px){
	.content{
		background-color:white;
	}
	.aside{
		background-color:white;
		color:lightpink;
	}
	header{
		color:purple;
	}
	p{
		color: purple;
	}
}

@media screen and (min-width:100px) and (max-width: 500px){
	.content{
		background-color:#CC99FF;
	}
	header{
		color:pink;
	}
	.aside{
		color: white;
	}
}
