header
{
	font-family: 'Lobster Two', cursive;
	margin-left:42%
}

.image{
	margin-left:45%
}
.header2{
	margin-left:45.5%
}

.aside {
	width: 20%;
  	background-color: #CAE1FF;
 	padding: 10px;
 	margin: 10px;
  	border: 2px dashed #9ED2FF;
  	float: left;
  	border-radius: 20px;
  	height: 300px;
}

.content{
	height:auto;
	background-color: #FFCCCC;
	margin:20px;
	border: 2px dashed #FF6699;
	padding: 30px 30px;
	border-radius: 20px;
}

.allpost{
	width: 73%;
	float: left;
}

p, nav{
	font-family: 'Dekko', cursive;
}

h2{
	font-family: 'Nunito', sans-serif;
}


}
nav :hover{
  color: #F5A623;
}
}

h4{
	font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 800px) and (max-width: 1000px){
	.content{
		background-color:white;
	}
	.aside{
		background-color:white;
		color:lightpink;
	}
	header{
		color:purple;
	}
}

@media screen and (min-width:100px) and (max-width: 500px){
	.content{
		background-color:#CC99FF;
	}
	header{
		color:pink;
	}
	.aside{
		color: white;
	}
}
